*~
.ipynb_checkpoints
WhiteLight/.ipynb_checkpoints
HeatEquation/.ipynb_checkpoints
EdgeSS/.ipynb_checkpoints
EdgeSS/__pycache__
EdgeSS/.pt_tmp
EdgeSS/saved_models
EdgeSS/edges_blobfree
EdgeSS/edges_blobfree_varying_theta
EdgeSS/curve_fit_params
EdgeSS/train_2models_comparison
EdgeSS/*.pt
EdgeSS/*.log
EdgeSS/*.npy
EdgeSS/exact_*
EdgeSS/experiments
EdgeSS/test_*
EdgeSS/linear_velocity_*
CR2161_tDecay2h_Polar_Compressed.npy
WhiteLight/edge_img.zip
WhiteLight/edge_img
WhiteLight/experiments
WhiteLight/__pycache__
HeatEquation/__pycache__
*.onnx
WhiteLight/arr_experiments
WhiteLight/arr_logs